<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' />
<%= stylesheet_link_tag "drivers" %>


<div>
<h2>Rideshare Drivers</h2>
  <table>

    <tbody>
      <% @drivers.each do |driver| %>

      <tr >
        <td><%= image_tag(driver.img, :alt => "driver image") %> </td>
        <td>  <%= link_to driver.name, driver_path(driver[:id]) %>  </td>
        <td>  <%= link_to "Edit", edit_driver_path(driver[:id]) %>  </td>
        <td>  <%= link_to("Delete", driver_path(driver[:id]), method: :delete, method: :delete, data: {confirm: "Are you sure?"})  %></td>
      </tr>

      <% end %>
    </tbody>
  </table>
</div>
