<h1>Driver <%= @driver.name %></h1>


<section>
  <%= render partial: "driver_status" %>
</section>

<section>
  <p>Car: <%= @driver.car %></p>
  <p>Avarage Rating: <%= @rating %></p>
  <p>Total earnings: <%= number_to_currency((@total_earnings.to_f)/100, precision: 2)%></p>
</section>


<ul>
  <li>TRIP ID</li>
  <li>DATE</li>
  <li>PASSENGER</li>
  <li>PRICE</li>
  <li>RATING</li>
  <li>ACTIONS</li>
</ul>

<% @driver.trips.each do |trip| %>

  <ul >
    <li>  <%= link_to trip.id, trip_path(trip[:id])%> <%= trip.date %>

      <% if trip.passenger_exist %>
      <% passenger = Passenger.find(trip[:passenger_id]) %>
        <%= link_to passenger.id, passenger_path(passenger.id)%>
      <% else %>
        <%= "Passenger has been deleted." %>
      <% end %>

      <%= trip.cost %>

      <% if trip.rating == nil %>
       <%= form_for trip do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, [ 1, 2, 3, 4, 5 ], prompt: 'Rating' %>

        <%= f.submit 'Rate Trip' %>
       <% end %>
     <% else %>
       <%= trip.rating %>
     <% end %>

       <%= link_to "Edit", edit_trip_path(trip[:id]) %>  <%= link_to "Delete", trip_path(trip[:id]), method: :delete %> </li>
  </ul>

<% end %>
