<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' />

<%= stylesheet_link_tag "show" %>
<div class="body">

  <h2>Driver <%= @driver.name %></h2>


  <section class="action">
    <%= render partial: "driver_status" %>
  </section>

  <section class="info">
    <p>Car: <%= @driver.car %></p>
    <p>Avarage Rating: <%= @rating %></p>
    <p>Total earnings: <%= number_to_currency((@total_earnings.to_f)/100, precision: 2)%></p>
  </section>


  <!-- Check if driver has trips: -->
  <% if @driver.trips.size == 0 %>
  <p><em>This driver has no trips.</em></p>
  <% else %>

  <table>
    <thead>
      <tr>
        <th>TRIP ID</th>
        <th>DATE</th>
        <th>PASSENGER</th>
        <th>PRICE</th>
        <th>RATING</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>

      <% @driver.trips.each do |trip| %>

      <tr>
        <!-- trip id -->
        <td>  <%= link_to trip.id, trip_path(trip[:id])%> </td>

        <!-- trip date -->
        <td> <%= trip.date %></td>

        <!-- passanger -->
        <% if trip.passenger_exist %>
        <% passenger = Passenger.find(trip[:passenger_id]) %>
        <% passanger_title = "#{passenger.name} (ID: #{passenger.id})" %>
        <td>  <%= link_to passanger_title, passenger_path(passenger.id)%> </td>
        <% else %>
        <td><%= "Passenger has been deleted." %></td>
        <% end %>

        <!-- price -->
        <td> <%= trip.cost %> </td>

        <!-- rating -->
        <% if trip.rating == nil %>
        <%= form_for trip do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, [ 1, 2, 3, 4, 5 ], prompt: 'Rating' %>

        <%= f.submit 'Rate Trip' %>
        <!-- <% end %> -->

        <% else %>
        <td><%= trip.rating %></td>
        <% end %>

        <!-- actions -->
        <td><%= link_to "Edit", edit_trip_path(trip[:id]) %>  <%= link_to("Delete", trip_path(trip[:id]), method: :delete, data: {confirm: "Are you sure?"}) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
