<h1>Driver <%= @driver.name %></h1>


<section>
  <%= link_to "GO ON-LINE/OFF-LINE", update_status_path(@driver[:id]), method: :patch%>
</section>

<section>
  <p>Car: <%= @driver.car %></p>
  <p>Avarage Rating: <%= @rating %></p>
  <p>Total earnings: <%= number_to_currency((@total_earnings.to_f)/100, precision: 2)%></p>
</section>


<ul>
  <li>TRIP ID</li>
  <li>DATE</li>
  <li>PASSENGER</li>
  <li>PRICE</li>
  <li>RATING</li>
  <li>ACTIONS</li>
</ul>

<% @driver.trips.each do |trip| %>

<% passenger = trip.passenger %>
  <ul >
    <li>  <%= link_to trip.id, show_trip_path(trip[:id])%> <%= trip.date %> <%= link_to passenger.id , show_passenger_path(passenger[:id])%> <%= trip.cost %> <%= trip.rating %> <%= link_to "Edit", edit_trip_path(trip[:id]) %>  <%= link_to "Delete", delete_trip_path(trip[:id]), method: :delete %> </li>
  </ul>

<% end %>
