<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="menuContainer">

      <h1>Rideshare on Rails!</h1>
      <ul>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Manage Drivers</a>
          <div class="dropdown-content">
            <%= link_to "See All Drivers", drivers_path %>
            <%= link_to "Add Drivers", new_driver_path %>
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Manage Passengers</a>
          <div class="dropdown-content">

            <%= link_to "See All Passengers", passengers_path %>
            <%= link_to "Add Passengers", new_passenger_path %>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
